/// <reference path="../abstracts/typography" />
/// <reference path="../abstracts/colors" />
/// <reference path="../abstracts/variables" />

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5rem;
    font-family: Arial;
    color: $gray-dark;
    background: linear-gradient(to bottom right, #ffff9e, #ffffbe);
    background-color: $background-color;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container:before, .row:before {
    display: table;
    content: '';
}

.row {
    /*display: flex;
    flex-wrap: wrap;*/
    margin-right: -15px;
    margin-left: -15px;
}

.needed-items, .available-items {

}

@media (max-width: $breakpoint-max-md) {
    .needed-items, .available-items {
        margin: 0;
    }
}

input,
select,
textarea {
    max-width: 100%;
}