/// <reference path="../abstracts/typography" />
/// <reference path="../abstracts/colors" />
/// <reference path="../abstracts/variables" />

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5rem;
    color: $gray-dark;
    background-color: $background-color;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    /*https://static.pexels.com/photos/403571/pexels-photo-403571.jpeg*/
    background-image: url('../../Images/pexels-photo-403571.jpeg');
    background-position: right;
    background-size: cover;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.container:before, .row:before {
    display: table;
    content: '';
}

.row {
    /*display: flex;
    flex-wrap: wrap;*/
    margin-right: -15px;
    margin-left: -15px;
    padding: 5px 15px 50px 15px;
}

@media (max-width: $breakpoint-max-md) {
    .needed-items, .available-items {
        margin: 0;
    }
}

input,
select,
textarea {
    max-width: 100%;
}