h3 {
  font-size: 1.2rem; }

h3.header {
  margin: 5px; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: Arial;
  color: #4e4e4e;
  background-color: #f7f7f7; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1075px; }

.container:before, .row:before {
  display: table;
  content: ''; }

.row {
  /*display: flex;
    flex-wrap: wrap;*/
  margin-right: -15px;
  margin-left: -15px; }

@media (max-width: 749px) {
  .needed-items, .available-items {
    margin: 0; } }

input,
select,
textarea {
  max-width: 100%; }

.btn {
  border: 1px solid #cecece;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: .25rem 1rem;
  text-align: center;
  white-space: nowrap;
  padding: .5em 1em; }

.input-group {
  position: relative;
  display: flex; }
  .input-group .btn {
    border-left: 0;
    margin: 0;
    line-height: 1.25rem;
    background-color: #cecece; }
  .input-group .input-group:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .input-group .form-text {
    line-height: 1.25rem; }

/*@media(max-width:$breakpoint-max-md ) {
    .animate-slide {
        transition: .4s ease all;
        height: 40px;

        &.ng-hide {
            height: 0;
        }

        &.ng-hide-add, &.ng-hide-remove {
            opacity: 0;
        }
    }
}*/
.toolbar-container {
  background-color: #eceeef; }

.toolbar {
  position: relative;
  padding: 10px 15px;
  max-width: 750px;
  /*background: linear-gradient(to bottom right, $theme-color, $theme-color-light);*/ }
  .toolbar .toolbar-title {
    display: inline-block;
    font-size: 15px;
    padding-bottom: 4px;
    font-weight: bold;
    padding-left: 2px; }
  .toolbar .toolbar-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative; }
  .toolbar .toolbar-group {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: auto;
    list-style: none;
    padding-left: 0;
    margin-left: 8px; }
    .toolbar .toolbar-group li {
      margin-right: 10px; }
    .toolbar .toolbar-group li:last-of-type {
      margin-right: 0; }
    .toolbar .toolbar-group.aligned-right {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0; }
  .toolbar .action-button {
    border-left: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: block;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-left: 0;
    padding: .5em 1em;
    border: 1px solid #cecece; }

.form-text {
  background-color: #fff;
  border: 1px solid #cecece;
  font-size: 1rem;
  padding: .5rem; }

.sorting-menu {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-top: 5px; }
  .sorting-menu .btn {
    background-color: #fff;
    padding: .5rem;
    margin-right: 2px;
    margin: 2px;
    /*padding: 10px;*/ }
    .sorting-menu .btn.sorted-property {
      color: #000;
      background-color: #cecece; }
  .sorting-menu .item-checkbox {
    flex-grow: 0; }

.sorting-menu-sort {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2px; }

@media (max-width: 749px) {
  .toolbar .toolbar-items {
    flex-direction: column; }
  .toolbar .toolbar-group {
    margin-top: 10px;
    margin-left: 0; } }

@media (min-width: 750px) {
  .toolbar .toolbar-group.aligned-right {
    position: static;
    order: 1;
    margin-bottom: 10px; }
  .toolbar-form {
    order: 2; }
  .list-row-container {
    margin: 4px;
    background-color: #eceeef; } }

@media (max-width: 479px) {
  .toolbar {
    padding: 5px; }
  .toolbar-items {
    position: static;
    margin-top: 5px; }
  .toolbar .toolbar-title {
    padding: 0; }
  .toolbar .toolbar-group li {
    margin-right: 5px; } }

.wrapper {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0; }

as-items-list {
  display: flex;
  flex-direction: column; }

.list-row-container {
  background-color: #fff;
  border: 1px solid #cecece;
  border-collapse: collapse;
  margin-bottom: 2px; }

.list-row {
  max-width: 750px;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  /*min-width: 280px;
    max-width: 750px;*/ }
  .list-row.selected {
    background-color: #f7f7f7; }

.item-checkbox, .item-frequency {
  width: 50px;
  align-items: center;
  justify-content: center; }

.custom-control {
  position: relative; }

.custom-control-input {
  opacity: 0;
  position: absolute;
  z-index: 0; }
  .custom-control-input:before {
    content: url(); }

.item-frequency {
  justify-content: flex-start; }
  .item-frequency .frame {
    background-color: #eceeef;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer; }

.item-updated {
  width: 110px;
  display: flex;
  flex-grow: 1;
  flex-direction: column; }

.flex-grow {
  flex-grow: 1; }

.item-name {
  font-weight: bold;
  width: 220px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  letter-spacing: 1.2px; }

.item-action {
  display: flex;
  padding: 9px;
  flex-grow: 0;
  max-height: 55px; }

.sortable:hover {
  cursor: pointer;
  color: #000;
  border-color: #000; }

.no-wrap {
  white-space: nowrap; }

.item-info {
  align-items: flex-start;
  flex-direction: column;
  padding: 2px 10px; }

@media (max-width: 1023px) {
  .item-name {
    width: 100%; } }

@media (min-width: 750px) {
  as-items-list {
    flex-direction: row; }
  .list-container {
    width: 100%; } }

@media (max-width: 325px) {
  .item-updated {
    flex-direction: column; }
  .list-row {
    border-radius: 0;
    border-left: 0;
    padding: 0;
    border-right: none;
    margin: -1px; }
  .sorting-menu {
    margin: 0;
    padding: 0; } }

