h3 {
  font-size: 1.2rem; }

h3.header {
  margin: 5px; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5rem;
  color: #333333;
  background-color: #dcffc2;
  font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }

.container:before, .row:before {
  display: table;
  content: ''; }

.row {
  /*display: flex;
    flex-wrap: wrap;*/
  margin-right: -15px;
  margin-left: -15px;
  padding: 5px 15px 50px 15px; }

@media (max-width: 749px) {
  .needed-items, .available-items {
    margin: 0; } }

input,
select,
textarea {
  max-width: 100%; }

.btn {
  border: 1px solid #656565;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: .25rem 1rem;
  text-align: center;
  white-space: nowrap;
  padding: .5em 1em;
  background-color: #fff;
  height: 40px; }

.primary-button {
  height: auto;
  background-color: #c2ffc7; }

.available-items .primary-button {
  background-color: #c2dcff; }

.input-group {
  position: relative;
  display: inline-flex; }
  .input-group .btn {
    border-left: 0;
    margin: 0;
    line-height: 1.25rem; }
  .input-group .input-group:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .input-group .form-text {
    line-height: 1.25rem; }

/*.animate-slide {
    transition: .4s ease all;
    height: 40px;

    &.ng-hide {
        height: 0;
    }

    &.ng-hide-add, &.ng-hide-remove {
        opacity: 0;
    }
}*/
.toolbar-container {
  min-width: 400px; }

.toolbar {
  position: relative;
  padding: 5px;
  max-width: 750px;
  /*height: 86px;*/ }
  .toolbar.toolbar-collapsed {
    /*height: 50px;*/ }
  .toolbar.toolbar-expanded {
    /*height: 130px;*/ }
    .toolbar.toolbar-expanded.toolbar-large-expanded {
      /*height: 175px;*/ }
      .toolbar.toolbar-expanded.toolbar-large-expanded .toolbar-group {
        /*margin-top: 5px;*/ }
  .toolbar .toolbar-title {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding-left: 2px; }
  .toolbar .toolbar-items {
    display: flex;
    width: 100%;
    margin-top: 5px;
    flex-direction: row;
    position: relative;
    height: 46px; }
    .toolbar .toolbar-items .validation-tooltip {
      position: absolute;
      background-color: pink;
      right: 0;
      left: 0;
      top: -38px;
      padding: 3px;
      display: inline-block; }
      .toolbar .toolbar-items .validation-tooltip::before, .toolbar .toolbar-items .validation-tooltip.after {
        content: '';
        position: absolute;
        top: 100%;
        left: 6px;
        border: solid transparent; }
      .toolbar .toolbar-items .validation-tooltip::before {
        border-top-color: pink;
        border-width: 8px; }
  .toolbar .toolbar-group {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: auto;
    list-style: none;
    padding-left: 0;
    margin-left: 10px; }
    .toolbar .toolbar-group li {
      margin-right: 10px; }
    .toolbar .toolbar-group li:last-of-type {
      margin-right: 0; }
    .toolbar .toolbar-group.aligned-right {
      position: absolute;
      right: 5px;
      top: 0;
      margin: 0; }
  .toolbar .action-button {
    border-left: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: block;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-left: 0;
    padding: .5em 1em;
    border: 1px solid #656565;
    height: 40px; }
  .toolbar .glowy-button {
    background-color: #feff49; }

.needed-items-title, .available-items-title {
  display: none; }

.showing-needed .needed-items-title, .showing-available .available-items-title {
  display: inline; }

.form-text {
  background-color: #fff;
  border: 1px solid #656565;
  font-size: 1rem;
  padding: .5rem; }

.animate-slide {
  transition: .35s ease-in-out; }

.sorting-menu {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  height: 0;
  overflow: hidden;
  transition: .35s ease-in-out; }
  .sorting-menu.toggled {
    height: 45px;
    transition: .35s ease-in-out; }
  .sorting-menu .btn {
    background-color: #fff;
    padding: .5rem;
    margin-right: 2px;
    margin: 2px;
    /*padding: 10px;*/ }
    .sorting-menu .btn.sorted-property {
      color: #000;
      background-color: #feff49; }
  .sorting-menu .item-checkbox {
    flex-grow: 0; }

.sorting-menu-sort {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2px; }

/*@media (min-width: $breakpoint-min-md) {
    .toolbar-container {
        min-width: initial;
    }

    .toolbar {
        height: auto !important;

        .toolbar-items {
            flex-direction: column;
        }

        .toolbar-group {
            &.aligned-right {
                position: static;
                order: 1;
                margin-bottom: 5px;
            }
        }
    }

    .toolbar-form {
        order: 2;
    }

    .list-row-container {
        margin: 4px;
        background-color: $theme-color;
        ;
    }
}*/
@media (max-width: 479px) {
  .toolbar .toolbar-title {
    padding: 0; }
  .toolbar .toolbar-group li {
    margin-right: 5px; } }

.wrapper {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0; }

as-items-list {
  display: flex;
  flex-direction: column; }

.list-row-container {
  background-color: #fff;
  border: 1px solid #656565;
  border-collapse: collapse;
  margin-bottom: 2px;
  border-radius: 6px;
  /*box-shadow: inset 0px 0px 6px 0px rgba(197, 197, 19);*/ }
  .list-row-container.selected {
    background-color: #fbffc2; }

.available-items .list-row-container {
  background-color: #fff; }
  .available-items .list-row-container.selected {
    background-color: #e7f1ff; }

.list-row {
  max-width: 750px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .list-row.selected {
    background-color: #fbffc2; }

.item-checkbox, .item-frequency {
  width: 50px;
  align-items: center;
  justify-content: center; }

.custom-control {
  position: relative; }

.custom-control-input {
  opacity: 0;
  position: absolute;
  z-index: 0; }
  .custom-control-input:before {
    content: url(); }

.item-frequency {
  justify-content: flex-start; }
  .item-frequency .frame {
    background-color: #f9fff3;
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer; }

.item-updated {
  width: 110px;
  display: flex;
  flex-grow: 1;
  flex-direction: column; }

.flex-grow {
  flex-grow: 1; }

.item-name {
  font-weight: 600;
  width: 220px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  letter-spacing: 1.2px; }

.item-action {
  display: flex;
  padding: 9px;
  flex-grow: 0;
  max-height: 55px; }

.sortable:hover {
  cursor: pointer;
  color: #000;
  border-color: #000; }

.no-wrap {
  white-space: nowrap; }

.item-info {
  align-items: flex-start;
  flex-direction: column;
  padding: 2px 10px; }

@media (max-width: 1023px) {
  .item-name {
    width: 100%; } }

/*@media (min-width: $breakpoint-min-md) {
    as-items-list {
        flex-direction: row;
    }

    .list-container {
        width: 100%;
    }
}*/
@media (max-width: 325px) {
  .item-updated {
    flex-direction: column; }
  .list-row {
    border-radius: 0;
    border-left: 0;
    padding: 0;
    border-right: none;
    margin: -1px; }
  .sorting-menu {
    margin: 0;
    padding: 0; } }

