//font
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;

//colors
$gray-dark: #4e4e4e;
$gray: #656565;
$gray-light: #969696;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f7;

$theme-color: #ffff9e;
$theme-color-light: #ffffbe; //#ffffa7;
$theme-color-intense: #feff49;

$background-color: $theme-color-light;
$border-color-base: $gray-light;

//responsive
/*$responsive-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);*/