<div class="container">
    <div class="toolbar">
        <div class="toolbar-items collapse">
            <form class="toolbar-form" ng-if="vm.selectedItems.length ===1">
                <div class="input-group">
                    <input placeholder="Edit selected item" class="form-text" id="editSelected" type="text" ng-model="vm.selectedItems[0].title" />
                    <button class="btn" type="submit">Edit</button>
                </div>
            </form>
            <form class="toolbar-form" ng-if="vm.selectedItems.length < 1" ng-submit="vm.addNew()">
                <div class="input-group">
                    <input placeholder="Add new item" class="form-text" id="editSelected" type="text" ng-model="vm.newItemName" />
                    <button class="btn" type="submit">Add</button>
                </div>
            </form>
            <ul class="toolbar-group">
                <li ng-if="vm.selectedItems.length > 0">
                    <a ng-if="vm.selectedItems[0].needed" ng-click="finishItems()" class="action-button"><i class="fa fa-check"></i></a>
                    <a ng-if="!vm.selectedItems[0].needed" ng-click="NeedItems()" class="action-button">Need</a>
                </li>
                <li ng-if="vm.selectedItems.length > 0 && !vm.selectedItems[0].needed">
                    <a ng-click="deleteItems()" class="action-button">Delete</a>
                </li>
                <li>
                </li>
            </ul>
            <div><a ng-href="#/needed" class="action-button">Needed</a></div>
        </div>
    </div>
    <div class="row" ng-switch on="vm.hash">
        <div class="needed-items">
            <div class="items-container">
                <sl-items-list items="vm.neededItems" on-toggle="vm.toggle(item)"></sl-items-list>
            </div>
        </div>
        <div class="available-items">
            <div class="items-container">
                <sl-items-list items="vm.availableItems" on-toggle="vm.toggle(item)"></sl-items-list>
            </div>
        </div>
    </div>
</div>