<as-toolbar all-selected="vm.allSelected"
            header="vm.header"
            select-all="vm.selectAll()"
            selected-items="vm.selectedItems"
            sorting="vm.sorting"></as-toolbar>
<div class="list-container">
    <div class="item list-row-container" ng-click="vm.setSelected(item)" ng-repeat="item in vm.items | orderBy:vm.sorting.sortedOn:vm.sorting.sortedDesc" ng-class="{'selected': item.selected}">
        <div class="item list-row">
            <div class="column custom-control item-checkbox">
                <label for="{{item.id}}">
                    <i class="fa fa-circle-o" ng-show="!item.selected"></i>
                    <i class="fa fa-check" ng-show="item.selected"></i>
                </label>
            </div>

            <div class="column item-frequency">
                <div class="frame" title="Number of times completed">{{ item.frequency }}</div>
            </div>

            <div class="wrapper item-info flex-grow">
                <div class="item-name">
                    <span>{{ item.title }}</span>
                    <i class="fa fa-exclamation"></i>
                </div>
                <div class="wrapper item-updated">
                    <div class="no-wrap">{{ item.lastUpdated  | date:'dd MMM'}}</div>
                </div>
            </div>
            <div class="item-action">
                <button class="btn btn-green" ng-click="vm.toggle(item)">
                    <span ng-if="item.needed">Complete</span>
                    <span ng-if="!item.needed">Need</span>
                </button>
            </div>
        </div>
    </div>
</div>