//colors

$gray-dark: #4e4e4e;
$gray: #656565;
$gray-light: #cecece;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f7;

$yellow-base: #fefea3;
$yellow-light: #fbffc2; //#ffffa7;
$yellow-intense: #feff49;
$green-base: #c2ffc7;
$green-light: #dcffc2;

$theme-color: $yellow-base;
$theme-color-light: $yellow-light;
$theme-color-intense: $yellow-intense;

$theme-color-accent: $green-base;

$background-color: $green-light;
$border-color-base: $gray-light;