//colors

$gray-dark: #333333;
$gray: #656565;
$gray-light: #cecece;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f7;

$yellow-base: #fefea3;
$yellow-light: #fbffc2; //#ffffa7;
$yellow-intense: #feff49;
$green-base: #c2ffc7;
$green-light: #dcffc2;
$green-lighter: #f9fff3;

$blue-color: #c2dcff;
$blue-color-light: #e7f1ff;
$blue-color-lightest: #f2f7ff;

$theme-color: $yellow-base;
$theme-color-light: $yellow-light;
$theme-color-intense: $yellow-intense;

$accent-color-light: $green-lighter;
$accent-color: $green-base;

$triadic-color: $blue-color;
$triadic-color-light: $blue-color-light;
$triadic-color-lightest: $blue-color-lightest;
$background-color: $green-light;
$border-color-base: $gray;