//colors

$gray-dark: #333333;
$gray-light: #cecece;

$yellow-base: #fefea3;
$yellow-intense: #feff49;
$green-base: #21401f;
$green-lighter: #97CB79;
$blue-color: #c2dcff;

$theme-color: $yellow-base;
$theme-color-light: rgba($yellow-base, 0.5);
$theme-color-intense: $yellow-intense;

$accent-color: rgba($green-base, .5);

$triadic-color: $blue-color;

$background-color: $gray-light;
$border-color-base: $green-base;