//font
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;

h3 {
    font-size: 1.2rem;
}

h3.header {
    margin: 5px;
}