/// <reference path="../abstracts/variables" />
/*.animate-slide {
    transition: .4s ease all;
    height: 40px;

    &.ng-hide {
        height: 0;
    }

    &.ng-hide-add, &.ng-hide-remove {
        opacity: 0;
    }
}*/