/// <reference path="../abstracts/typography" />
/// <reference path="../abstracts/colors" />
.btn {
    border: 1px solid $border-color-base;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: .25rem 1rem;
    text-align: center;
    white-space: nowrap;
}

.input-group {
    position: relative;
    display: flex;

    .btn {
        border-left: 0;
        margin: 0;
        line-height: 1.25rem;
        background-color: $theme-color-intense;
    }

    .input-group:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .form-text {
        line-height: 1.25rem;
    }
}